* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
  }
  
  .btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
  }
  
  .btn-outline-primary:hover {
    color: #ffffff;
    background-color: #dc4f72;
    border-color: #dc4f72;
  }
  
  h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}

h1 {
  font-size: 46px;
  line-height: 57.5px;
  color: #000000;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  line-height: 24.5px;
  color: #2c3038;
  font-weight: 700;
}

h5 {
  font-size: 26px;
  line-height: 32px;
  color: #2c3038;
  font-weight: 700;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

p {
  color: #5a5a5a;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0 25px;
}

header {
  display: grid;
  align-items: center;
  background-color: #ffffff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.header-logo {
  color: #dc4f72;
  font-size: 26px;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

li.nav-item {
  padding: 15px 15px;
  position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  position: absolute;
  bottom: 20px;
  transition: all 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  width: 20px;
}
.dropdown-item {
  position: relative;
}

.dropdown-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #dc4f72;
  display: block;
  position: absolute;
  transition: all 0.5s;
}
.dropdown-item:hover::after {
  width: 20px;
}

.dropdown-item:hover {
  color: #dc4f72;
  background-color: #ffffff;
}

li.nav-item {
  padding: 14px 0px;
  margin-right: 12px;
}

.mini-nav {
  padding: 15px 20px;
  background: #f7f9fc;
}
.navbar-light .navbar-toggler {
  color: rgb(220 79 114) !important;
}
.breadcrumb {
  margin-top: 90px;
  margin-bottom: 0;
}

.breadcrumb-item {
  font-size: 14px;
}

.breadcrumb a {
  color: #dc4f72;
  text-decoration: none;
}

.right_sidebar {
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 999;
}

.bg_right_sidebar {
  background-color: #0d1326;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bg_right_sidebar .btn_back {
  width: 87%;
  border-top: 1px solid #555555;
}

.item_right_sidebar a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #e6ebff;
  opacity: 0.5;
}

.item_right_sidebar a:hover {
  opacity: 1;
}
  .wrapper-page{
      background-color:#f7f9fc;
      padding: 40px 60px 20px 60px;
      font-size: 14px;
      font-weight: 300;
  }
  .wrapper-page a{
      text-decoration: none;
      color: #DC4f72;
  }
  .wrapper-page a:hover{
      text-decoration: underline;
  }
  .contact .container{
    padding: 20px 60px;
  }
  .contact h1{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
  }
  .contact .contact-item{
      display: flex;
  }
  .contact .contact-art img{
      width: 100%;
      height: 600px;
      transition: 0.4s ease-in;
  }
  .contact .contact-art img:hover{
      transform: translateY(-20px);
  }
  .contact .contact-information{
      width: 60%;
      height: auto;
      padding: 20px;
      box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  }
  .contact .contact-information h1{
      font-size: 46px;
      font-weight: 500;
      margin-bottom: 20px;
  }
  .contact .contact-information p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
  .contact .contact-information input{
    display: block;
    color: #000;
    font-weight: 500;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 15px;
    border: 1px solid #cacaca;
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 5px;
  }
  .contact .contact-information textarea{
    display: block;
    color: #000;
    font-weight: 500;
    width: 100%;
    height: 150px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 15px;
    border: 1px solid #cacaca;
    background-color: #f7f9fc;
    padding: 20px;
    border-radius: 5px;
  }
  .contact .contact-information button {
    color: #ffffff;
    background-color: #DC4f72;
    padding: 20px 60px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    transition: 0.4s ease-in;
    transform: translateX(330px);
  }
  .contact .contact-information button:hover{
    background-color: #d62f58;
  }
  .getintouch .intouch-title{
    text-align: center;
    color: #000000;
    margin: 30px 0;
  }
  .getintouch .container{
    background-color: #f7f9fc;
  }
  .getintouch .intouch-title h2{
    font-size: 16px;
    font-weight: 400;
    color: #DC4f72;
  }
  .getintouch .intouch-title h1{
    font-size: 46px;
    font-weight: 600;
  }
  .getintouch .intouch-title p{
    font-size: 16px;
    font-weight: 300;
    padding: 20px;
  }
  .getintouch .intouch-row{
    display: flex;
  }
  .getintouch .intouch-col{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    margin: 30px;
    width: 30%;
    transition: 0.4s ease-in;
  }
  .getintouch .intouch-col:hover{
    transform: translateY(-20px);
  }
  .getintouch .intouch-item{
    padding: 30px;
    text-align: center;
  }
  .getintouch .intouch-item .intouch-icon {
    display: inline-block;
    width:60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    background-color:#fcedf1;
    color: #d62f58;
  }
  .getintouch .intouch-item h1{
    font-size: 20px;
    font-weight: 500;
  }
  .getintouch .intouch-item p{
    font-size: 18px;
    font-weight: 500;
    color: #5a5a5a;
  }
  .getintouch .intouch-item a{
    font-size: 18px;
    font-weight: 500;
    color: #5a5a5a;
    text-decoration: none;
    transition: color 0.3s ease-in;
  }
  .getintouch .intouch-item a:hover{
    color:#DC4f72;
    text-decoration: underline;
  }
  .footer {
    background-color: #f7f9fc;
    padding: 48px 0;
  }
  
  .footer-item {
    display: flex;
    flex-direction: row;
  }
  
  .col-big {
    width: 50%;
  }
  
  .row-small {
    display: flex;
    flex-direction: row;
  }
  
  .footer .footer-item h3 {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 25px;
  }
  
  .row-small ul {
    padding: 0;
  }
  
  .row-small li {
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
  }
  
  .row-small a {
    text-decoration: none;
    color: #656f7b;
  }
  
  .col-small {
    width: 100%;
  }
  
  .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 226px;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  }
  
  .right-col input {
    background-color: #f7f9fc;
    border: none;
    padding: 12px 20px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 600;
    border-radius: 6px;
  }
  
  .right-col button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #ffffff;
    border-radius: 6px;
  }
  
  .right-col p {
    margin-top: 10px;
  }
  
  .footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid #eaeaea;
  }
  .footer a:hover {
    opacity: 0.8;
    color:  #dc4f72;
  }
  
  .below-right a {
    text-decoration: none;
    color: #2c3038;
  }
  
  .below-right a:hover {
    color: #dc4f72;
  }
  
  .below-left {
    width: 220px;
  }
  
  .below-left .social {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  
  .below-left .social li {
    list-style: none;
  }
  
  .below-left .social a {
    color: #000000;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }
  .below-left .social a:hover {
    color: #dc4f72;
  }
  
  @media screen and (max-width: 992px) {
    .contact .contact-item{
      display: block;
  }

    .contact .contact-information{
      width: 100%;
    }
    .contact .contact-information button{
      transform: translateX(0px);
    }
    .header-item {
      display: block;
    }
  
    header .navbar {
      justify-content: flex-end;
      padding-top: 0;
    }
  
    .right_sidebar {
      display: none;
    }
 
    
  }
  @media screen and (max-width: 768px) {
    .header .container .navbar {
      display: none;
    }
    .getintouch .intouch-row{
      display: block;
    }
    .getintouch .intouch-col{
      width: 100%;
    }
    .header .container .schedule {
      display: none;
    }
    .header .navbar-toggler {
      display: block;
    }
    .header .navbar-toggler span{
      font-size: 25px;
      font-weight: 700;
      color: #DC4f72;
      text-align: center;
      line-height: 25px;
    }

    

    .footer .footer-item {
      display: block;
    }
    .footer .col-big {
      width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    .header .container .rownavbar{
      display: none;
    }
    .footer .footer-item {
      display: block;
    }
    .footer .col-big {
      width: 100%;
    }
 
  }